<!DOCTYPE html>
<html>
  <head>
    <link
      href="/styles/styles.css"
      rel="stylesheet"
    />
    <meta
      content="A simple Todo application with Golang, Fiber, MongoDB and templates"
      name="description"
    />
    <meta
      content="Golang Todo"
      property="og:title"
    />
    <meta
      content="A simple Todo application with Golang, Fiber, MongoDB and templates"
      property="og:description"
    />
    <meta
      content="/assets/logo.svg"
      property="og:image"
    />  
    <title>Todo application</title>
  </head>
  <body>
    <div class="flex direction-column margin-0-auto wrapper">
      {{template "partials/header" .}}
      {{embed}}
    </div>
    {{template "partials/footer" .}}
    <script defer src="/js/jq.js"></script>
    <script defer src="/js/index.js"></script>
  </body>
</html>
