<!DOCTYPE html>
<html>
  <head>
    <link
      href="/styles/styles.css"
      rel="stylesheet"
    />
    <meta
      content="A simple Todo application with Golang, Fiber, MongoDB and HTML/Template"
      name="description"
    />
    <meta
      content="TODO Application"
      property="og:title"
    />
    <meta
      content="A simple Todo application with Golang, Fiber, MongoDB and HTML/Template"
      property="og:description"
    />
    <meta
      content="https://golang-todo.herokuapp.com/assets/logo.png"
      property="og:image"
    />  
    <title>TODO Application</title>
  </head>
  <body>
    <div class="flex direction-column margin-0-auto wrapper">
      {{template "partials/header" .}}
      {{embed}}
    </div>
    {{template "partials/footer" .}}
    <script defer src="/js/jq.js"></script>
    <script defer src="/js/index.js"></script>
  </body>
</html>
