<!DOCTYPE html>
<html>
  <head>
    <link
      href="/styles/styles.css"
      rel="stylesheet"
    />
    <meta
      content="A simple Todo application with Golang, Fiber, MongoDB and templates"
      name="description"
    />
    <meta
      content="Golang Todo"
      property="og:title"
    />
    <meta
      content="A simple Todo application with Golang, Fiber, MongoDB and templates"
      property="og:description"
    />
    <meta
      content="/img/logo.png"
      property="og:image"
    />  
    <title>Todo application</title>
    <script src="/js/jq.js"></script>
    <script src="/js/index.js"></script>
  </head>
  <body>
    {{embed}}
  </body>
</html>
