<form
  class="flex justify-content-space-between mb-16 noselect"
  id="todo-form"
>
  <input
    id="todo-input"
    name="todo-input"
    type="text"
  />
  <button
    class="button-add pointer"
    id="todo-submit"
    type="submit"
  >
    Add
  </button>
</form>
<div
  class="todo-error text-center noselect"
  id="todo-error"
></div>
<div id="todos-list">
  {{range .Todos}}
  <div
    class="flex justify-content-space-between align-items-center mb-16 text-left todo-item"
    id="todo-{{.ID}}"
  >
    <button
      class="complete-todo pointer text-left{{if .Completed}} completed{{end}}"
      id="{{.ID}}"
      type="button"
    >
      {{.Text}}
    </button>
    <div class="flex justify-content-space-between controls">
      <button
        class="delete-todo-button pointer noselect mr-8"
        id="todo-edit-{{.ID}}"
        type="button"
      >
        <img
          alt="Edit item"
          class="edit-todo noselect"
          id="todo-edit-{{.ID}}"
          src="/assets/edit.svg"
        />
      </button>
      <button
        class="delete-todo-button pointer noselect"
        id="todo-delete-{{.ID}}"
        type="button"
      >
        <img
          alt="Delete item"
          class="delete-todo noselect"
          id="todo-delete-{{.ID}}"
          src="/assets/delete.svg"
        />
      </button>
    </div>
  </div>
  {{end}}
</div>
