{{template "partials/header" .}}
<form
  class="mb-16"
  id="todo-form"
>
  <input
    id="todo-input"
    name="todo-input"
    type="text"
  />
  <button
    class="button-add pointer"
    id="todo-submit"
    type="submit"
  >
    Add
  </button>
  <div id="todo-error"></div>
</form>
<div id="todos-list">
  {{range .Todos}}
  <div
    id="todo-{{.ID}}"
    class="flex justify-content-space-between mb-16"
  >
    <div>
      {{.Text}}
    </div>
    <div>
      Completed: {{.Completed}}
    </div>
    <button
      class="delete-todo"
      id="todo-delete-{{.ID}}"
      type="button"
    >
      Delete
    </button>
  </div>
  {{end}}
</div>
{{template "partials/footer" .}}
