@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');

/* CSS variables */
:root {
  --accent: #4365AF;
  --accent-highlight: #5476FF;
  --paper: #F0F0F0;
  --paper-disabled: #A0A0A0;
  --red: maroon;
  --green: rgb(0, 219, 135);
}

/* Reset styles */
* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}


a {
  color: var(--accent);
}
a:hover {
  color: var(--accent-highlight);
}
input {
  background-color: var(--paper);
  border: 2px solid var(--accent);
  border-radius: 8px 0 0 8px;
  font-size: 16px;
  height: 48px;
  padding: 0 16px;
  width: 100%;
}
input:focus {
  outline: none;
}
input:disabled {
  background-color: var(--paper-disabled);
  border-bottom: 2px solid var(--paper-disabled);
}

footer {
  height: 32px;
}
header {
  color: var(--accent);
  margin-top: 24px;
  margin-bottom: 16px;
}

.flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.direction-column {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.margin-0-auto {
  margin: 0 auto;
}
.fs-12 {
  font-size: 12px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mr-16 {
  margin-right: 16px;
}
.pointer {
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper {
  min-height: calc(100vh - 32px);
  width: 400px;
}
.logo {
  height: 20px;
}
.todo-error {
  color: var(--red);
  height: 32px;
}
.button-add, .button-add:disabled, .button-add:hover {
  transition: background-color 200ms ease-in;
}
.button-add {
  background-color: var(--accent);
  border-radius: 0 8px 8px 0;
  border: none;
  color: white;
  height: 48px;
  padding: 0 16px;
}
.button-add:disabled {
  background-color: var(--paper-disabled);
}
.button-add:focus {
  outline: none;
}
.button-add:hover {
  background-color: var(--accent-highlight);
}
.todo-item {
  background-color: var(--paper);
  border-radius: 8px;
  color: black;
  min-height: 48px;
  padding: 8px;
}
.complete-todo {
  border: none;
  outline: none;
}
.delete-todo, .edit-todo, .delete-todo-button {
  height: 24px;
  width: 24px;
}
.delete-todo-button {
  border: none;
  margin: 0;
  outline: none;
  padding: 0;
}
.completed {
  text-decoration: line-through;
}
.controls {
  width: 60px;
}

/* Modal */
@keyframes background-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes modal-window-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.background {
  animation-duration: 250ms;
  animation-name: background-in;
  background-color: #000000;
  height: 100vh;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.modal-window {
  animation-duration: 250ms;
  animation-name: modal-window-in;
  background-color: white;
  border-radius: 16px;
  height: 256px;
  left: calc(50% - 180px);
  position: absolute;
  padding: 16px;
  top: calc(50% - 158px);
  width: 360px;
  z-index: 11;
}
.edit-textarea {
  background-color: var(--paper);
  border: 2px solid var(--accent);
  border-radius: 8px;
  height: 96px;
  padding: 16px;
  resize: none;
  width: 100%;
}
.edit-button, .success:hover, .success:disabled, .fail:hover {
  background-color: white;
  border: none;
  border-radius: 8px;
  height: 32px;
  outline: none;
  padding: 0 16px;
  transition: background-color 200ms ease-in, color 200ms ease-in;
  width: 112px;
}
.success {
  border: 2px solid var(--accent);
  color: var(--accent);
}
.fail {
  border: 2px solid var(--red);
  color: var(--red);
}
.success:hover {
  background-color: var(--accent-highlight);
  color: white;
}
.fail:hover {
  background-color: var(--red);
  color: white;
}
.success:disabled {
  background-color: var(--paper-disabled);
  color: white;
}
