/* CSS variables */
:root {
  --accent: #4365AF;
  --accent-highlight: #5476FF;
  --link: maroon;
  --link-hover: rgb(110, 68, 68);
  --paper: #F0F0F0;
  --paper-disabled: #A0A0A0;
}

/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  background-color: var(--paper);
  border: none;
  border-bottom: 2px solid var(--accent);
  font-size: 16px;
  height: 48px;
  padding: 0 16px;
}
input:focus {
  outline: none;
}
input:disabled {
  background-color: var(--paper-disabled);
  border-bottom: 2px solid var(--paper-disabled);
}

footer {
  font-size: 10px;
}
header {
  font-size: 24px;
}

.flex {
  display: flex;
}
.direction-column {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.margin-0-auto {
  margin: 0 auto;
}
.mb-16 {
  margin-bottom: 16px;
}
.pointer {
  cursor: pointer;
}

.wrapper {
  min-height: 100vh;
}
.button-add, .button-add:disabled, .button-add:hover {
  transition: background-color 200ms ease-in;
}
.button-add {
  background-color: var(--accent);
  border: none;
  color: white;
  padding: 16px;
}
.button-add:disabled {
  background-color: var(--paper-disabled);
}
.button-add:focus {
  outline: none;
}
.button-add:hover {
  background-color: var(--accent-highlight);
}
